<link rel="import" href="animate-me.html">
<link rel="import" href="x-btn-group.html">
<link rel="import" href="x-viewmodel-page.html">
<script src="x-viewmodel/json-patch-duplex.js"></script>

<element name="x-viewmodel">
  <template>
    <ul>
      <li><a href="../page_1">Page 1</a></li>
      <li><a href="../page_2">Page 2</a></li>
    </ul>

    <div id="output"></div>
    <p>
      <button id="simulate">Request changes</button>
    </p>

    <div is="animate-me">
      <x-viewmodel-page model="{{ viewmodel }}" view="{{ viewmodel.subpage.html }}"></x-viewmodel-page>
    </div>

    <hr>

    <p>
      <small>The main document was loaded as <code>{{pathname}}</code>.</small>
    </p>
  </template>

  <script>
    var viewmodel = {
      username: "Marcin",
      subpage: {
        html: "Loading Ajax..."
      }
    }

    Polymer.register(this, {
      viewmodel: viewmodel,
      ready: function () {
        this.pathname = window.location.pathname;

        parseRoute();

        var that = this;
        this.$.simulate.addEventListener('click', function () {
          that.viewmodel.subpage.increment++;
        });

        this.webkitShadowRoot.addEventListener("click", function (event) {
          if (event.target.nodeName === 'A') {
            event.preventDefault();
            history.pushState(null, null, event.target.href);
            parseRoute();
            event.preventDefault();


          }
        }, false);

        function parseRoute() {
          if (window.location.pathname.match(/\/page_1\/?$/)) { //trailing slash is optional
            loadPartial('page_1');
          }
          else if (window.location.pathname.match(/\/page_2\/?$/)) { //trailing slash is optional
            loadPartial('page_2');
          }
          else {
            loadPartial('page_1');
          }
        }

        function loadPartial(name) {
          var oReq = new XMLHttpRequest();
          oReq.onload = function () {
            that.viewmodel.subpage.html = this.responseText;
          };
          oReq.open("GET", 'partials/' + name + '.html', true);
          oReq.send();
        }
      }
    });

    //simulate server data patch

    var current = 0;
    var patches = [
      {op: "replace", path: "/username", value: "Fred" },
      {op: "replace", path: "/username", value: "Wilma" },
      {op: "replace", path: "/username", value: "Pebbles" },
      {op: "replace", path: "/username", value: "Dino" },
      {op: "replace", path: "/username", value: "Barney" },
      {op: "replace", path: "/username", value: "Betty" },
      {op: "replace", path: "/username", value: "Bamm-Bamm" }
    ];

    function changeUsername() {
      jsonpatch.apply(viewmodel, [patches[current]]);
    }

    setInterval(function () {
      current++;
      if (current === patches.length) {
        current = 0;
      }
      changeUsername()
    }, 2000);

    changeUsername()
  </script>
</element>