<h1>This is Page 2 for `{{ username }}`</h1>

<p>Page 2 also has some text. It can be partially or fully loaded.</p>

<h2>Data grid</h2>

<p>All data on this page is updated using JSON Patch against the data model.</p>

<script>
  console.log('this does not show up in Chrome Console');
  $('#hot').handsontable({
    data: settings,
    colWidths: [30, 70, 100],
    colHeaders: ['ID', 'First Name', 'Last Name', 'Gender', 'Age', 'English', 'Spanish', 'French', 'Salary'],
    columns: [
      {
        readOnly: true,
        data: 'id'
      },
      {
        data: 'name.first'
      },
      {
        data: 'name.last'
      },
      {
        readOnly: true,
        data: 'gender',
        source: genderList
      },
      {
        type: 'numeric',
        data: 'age'
      },
      {
        type: 'checkbox',
        data: 'languages.english'
      },
      {
        type: 'checkbox',
        data: 'languages.spanish'
      },
      {
        type: 'checkbox',
        data: 'languages.french'
      },
      {
        type: 'numeric',
        data: 'salary',
        format: '$ 0,0.00'
      }
    ]
  });

</script>